/* CSS declarations go here */

.map-container {
  width: 100%;
  max-width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.marker {
	position: absolute;
	top: calc(50% - 32px);
	left: calc(50% - 17px);
	height: 64px;
	width: 34px;
	z-index: 100;
	background: url(logo.png) no-repeat;
	transform: rotate(25deg);
	-webkit-transform: rotate(25deg);
	-moz-transform: rotate(25deg);
	-o-transform: rotate(25deg);
	-ms-transform: rotate(25deg);
	text-indent: -9999em;
}

